body{
    margin:auto;
    background-color:white;
}

*{
  -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}
.container
{
    margin: auto;
    width:968px;
    display:flex;
    flex-direction:column;
    align-items:normal;
    gap:40px;
}







.Nav-bar ul
{
    list-style-type: none;
    margin: 0;
    padding:15px;
    display:flex;
    align-items: center;

}

.Nav-bar ul li 
{
    margin: 0 10px;
    color:#9fa0a1;

}
a 
{
    text-decoration:none;
    color:#9fa0a1;

    
}



#cart
{
    margin-left:auto;
}
#profile
{
    margin-left:30px;
}






.shop
{
    display:flex;
    flex-direction:row;
    
}

.Pics
{
    flex:1;

}



.big
{
    display: flex;
    justify-content: center;
    
    
    
}
.small
{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:20px 80px 0 80px;
   

}






#bigpic
{
    width:50%;
    height:50%;
    object-fit: fill;
    border-radius:15px;
    

 
}



.carousel-cell {
    width: 100%; /* full width */
    height: 160px; /* height of carousel */
    margin-right: 10px;
  }


#smallpic
{
    width:21%;
    height:21%;
    border-radius:15px;
}


.Infos
{
    flex:1;
    height:60vh;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding:15px;
    justify-content:space-around;
    

}


.Infos div 
{
    font-weight:bold;
}

.Infos p
{
    max-width:400px;
    font-size:15px;
    color:#9fa0a1;
    font-weight:bold;
}

.company
{
    color:#fc9c36;
    font-size:15px;
    margin-bottom:5px;
}

.name
{
    font-size:40px;
    max-width:80%;
}

.pd
{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:40px;
}

.Price
{
 font-size:30px;
 font-weight:bold;
}

.Discount
{
    color:#fc9c36;
    font-weight:bold;
}

.original
{
    color:#9fa0a1;
    text-decoration: line-through;
}

.Buy
{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:40px;
    padding:20px;


}

.plus
{
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content: center;
    gap:50px;
}


.AddButton
{
    padding:10px;
    background-color:#da6e2e;
    width:200px;
    text-align: center;
    color:white;
    display:flex;
    align-items: center;
    justify-content:center;
    gap:5px;
}

.AddButton img
{
    color:white;
}

.count
{
    font-size:20px;
}




/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  #smallpic:hover
  {
 cursor:pointer;
  }
